﻿<#@ include file="../Imports/Boilen/Boilen.tt" #>
<#@ include file="../Imports/Boilen/Includes.tt" #>
<#
Partial.Type<SearchStatus>( )
    .AddImmutableProperty<object>( "Owner", "the search owner" )
    .AddImmutableProperty<string>( "Source", "the name of the forecast source" )
    .AddImmutableProperty<ObservableCollection<string>>( "Updates", "the search status history", p => p
        .SetIncludeInConstructor( false )
        .SetDefaultExpression( "new ObservableCollection<string>()" )
    )
    
    .AddMutableProperty<UserAction>( "Action", "the action the user can perform in the current state" )
    .AddMutableProperty<string>( "PlaceName", "the name of the selected place" )
    .AddMutableProperty<bool>( "IsNew", "a value indicating whether a search is new (i.e. does not match an existing subscription)" )
    .AddMutableProperty<bool>( "IsSearching", "a value indicating whether a search is still in progress" )
    .AddMutableProperty<double>( "SearchProgress", "the percent progress made towards the search" )
    .AddMutableProperty<object>( "FallbackProgress", "the progress made towards the search for nearby locations" )
    .AddMutableProperty<Visibility>( "DiscoverMarkVsibility", "the visibility of the discover mark", p => p
        .SetDefaultValue( Visibility.Collapsed )
    )
    
    .ImplementINotifyPropertyChanged( )
    .Run( this.Write );
#>
<#+
[TemplateType]
enum UserAction { }
#>
