﻿<#@ include file="./EntityWriter.tt" #>
<#
WriteEntity( "ForecastInfo", "Location={1},{2}",
    Property<string>( "Description", "the description for the forecast", null ),
    Property<string>( "ForecastUrl", "the URL of the forecast file", "URL", 9 ),
    Property<string>( "YrnoSourceUrl", "the source URL of the yr.no forecast, if any", "YRNO", 9 ),
    Property<int>( "NoaaDownloadStatus", "the download status of the NOAA forecast", null ),
    Property<DateTimeOffset>( "LastProcessed", "the last time the location was processed by a scheduler", "Processed", 8 ),
    Property<DateTimeOffset>( "LastUserRequest", "the last time a user requested the location", "LastRequest" ),
    Property<DateTimeOffset>( "NextDownloadThreshold", "the threshold for the next scheduled download of the location", "NextDownload" )
);
#>
