﻿<#@ include file="../Imports/Boilen/Boilen.tt" #>
<#@ include file="../Imports/Boilen/Includes.tt" #>
<#
Partial.Type<Place>( )
    .AddImmutableProperty<Coordinate>( "Location", "the location of the city" )
    .AddImmutableProperty<string>( "Name", "the name of the city, including the state" )
    .AddImmutableProperty<string>( "County", "the name of the county the city is in", p => p
        .SetDefaultValue( "" )
    )
    .AddImmutableProperty<string>( "Link", "the link to the city's forecast page", p => p
        .SetDefaultValue( "" )
    )
    
    .ImplementIEquatable( "Location", "Name" )
    
    .Run( this.Write );
#>
